<h1>Artists</h1>
<% @artists.each do |artist| %>
  <h3><%= artist.name %></h3>
    <p><%= pluralize(artist.song_count, 'song') %></p>
    <% artist.songs.each do |song| %>
      <ul>
        <li><%= link_to song.title, song_path(song) %></li>
      </ul>
    <% end %>
<% end %>
